
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{ 
    
    <link href="@Url.Content("~/css/Style_AboutUs.css")" rel="stylesheet" />
}
<h1>About Us</h1>
<p>Le Ngoc Tu</p>