
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Age: @ViewBag.age
    <br />
    User Name: @ViewBag.username
</body>
</html>
