
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h1>Invoice Details - Admin Panel</h1>
    ID: @ViewBag.id
</body>
</html>
