
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Invoice Page - Admin Panel</h1>
    <a asp-area="Admin" asp-controller="Invoice" asp-action="Detail" asp-route-id="123">Invoice Details</a>
</body>
</html>
