

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <h3>Welcome Customer</h3>
    <a asp-controller="Account" asp-area="Customer" asp-action="Logout">Logout</a>

</body>
</html>
