
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<hello></hello>
<br />
<hi />

<display fullname="ahihi"></display>
<br />
<br />
<uppercase>le ngoc tu </uppercase>
<br />
<br />
<br />
<address></address>