
@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <a asp--controller="product" asp-action="details1">Product 1</a>
    <a asp--controller="product" asp-action="details2">Product 2</a>
    <br /><br />
@RenderBody();